[Unit]
Description=Copy content-slider configuration from USB
Requires=USB.mount
After=USB.mount

[Service]
ExecStart=/opt/kiosk-scripts/bin/copy-configuration-from-usb

[Install]
WantedBy=USB.mount
