[Unit]
Description=Set the host name based on the the mac addresses
Wants=network-pre.target
Before=network-pre.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/kiosk-scripts/bin/internal/assign-hostname

[Install]
WantedBy=network.target
